@font-face {
    font-family: Eina;
    src: url(../fonts/Eina01-Regular.ttf);
}

@font-face {
    font-family: Eina;
    src: url(../fonts/Eina01-Bold.ttf);
    font-weight: bold;
}

$color-primary: #185F94;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-family: Eina, sans-serif;
    line-height: 1.4;
    color: #000;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    margin: 5px 0;
    line-height: 1.7;
}

.icon {
    width: 20px;
    height: 20px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(73deg) brightness(103%) contrast(103%);
}

// Nav
.navbar, .color-pick {
    width: 100%;
    height: auto;
    background-color: $color-primary;
    padding: 20px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1150px;
    margin: 0 auto;
}

// Color pick section
.color-pick {
    height: 275px;
    color: #fff;
}

.color-pick-container {
    max-width: 1150px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    p {
        margin-bottom: 20px;
    }

    .input-container {
        position: relative;
    }

    #hex-input {
        border: none;
        border-bottom: 1px solid #fff;
        background-color: transparent;
        padding: 5px;
        padding-left: 30px;
        color: #fff;
        font-size: 0.8rem;
    
        &:focus {
            outline: none;
        }
    }

    .pixel {
        position: absolute;
        display: inline;
        left: 0;
        top: 0;
        background-color: #000;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        cursor: pointer;
    }

    .execute {
        cursor: pointer;
        background: transparent;
	    border: none;
        position: relative;
        right: 20px;
        top: 2px;
    }
}

//Text styling
.text-xl {
    font-size: 3.5rem;
    font-weight: bold;
}

.text-sm {
    font-size: 1.1rem;
}

.pixel {
    display: inline-block;
    background-color: #000;
    width: 50px;
    height: 50px;
    border: 1px solid white;
}

.filterDetail {
    font-family: "Consolas", "Menlo", "Ubuntu Mono", monospace;
}
